body {
	background-color: #ecf0f5;
}

#container {
    margin: 140px auto 25px;
    max-width: 700px;
}

header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
	border-bottom: 1px solid #f4f4f4;
}

header h1 {
	display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

#content {
	padding: 20px 20px 10px;
}

	#content h2 {
		margin-top: 0;
		font-size: 16px;
		font-weight: bold;
	}

footer {
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
	text-align: right;
	font-size: 10px;
}

footer a {
	color: #888;
}

/**
 * Override default values
 */
.box-header>.box-tools {
	top: 8px;
}

.box-body {
    padding: 10px 20px;
}

.form-horizontal .control-label {
	text-align: left;
}

.checkbox label, .radio label {
	font-weight: 700;
}

/**
 * Custom styles
 */
.ok {
	color: green;
}

.failed {
	color: #CE0071;
}

#url {
    height: 22px;
    font-size: 12px;
	width: 100px;
	padding-right: 12px;
	display: inline-block;
}