/**
 * Site layout
 */
html, body {
	background-color: #e2e2e2;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial;
	font-size: 12px;
	color: #2f2f2f;
	height: 100%;
	line-height: 20px;
}

/**
 * Default styles
 */
a {
	color: #555555;
	text-decoration: none;
}

a:hover {
	color: #333333;
	text-decoration: none;
}

img {
	border: 0px;
}

input[type="text"], input[type="password"] {
	width: 500px;
}

select {
	width: 506px;
}

input, select {
	font-size: 12px;
}

input[type="text"], input[type="password"],
input[type="checkbox"],
select {
	border: 1px solid #dedede;
	border-radius: 2px 2px 2px 2px;
	padding: 2px;
}

select {
	padding: 0px;
	height: 21px;
}

input[type="text"]:hover, input[type="password"]:hover,
input[type="checkbox"]:hover,
select:hover {
	border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}

input[type="submit"] {
	background-color: white;
    border: 1px solid #dedede;
    border-radius: 5px;
    color: #666666;
    cursor: pointer;
    min-width: 60px;
    text-align: center;
    padding: 3px;
}

input[type="submit"]:hover {
	background-color: white;
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}

textarea {
	font-family: Verdana, Arial;
	font-size: 11px;
	border: 1px solid #dedede;
	border-radius: 2px 2px 2px 2px;
	padding: 2px;
	width: 500px;
	height: 150px;
}

textarea:hover {
	border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}

table {
	font-size: 12px;
	border-collapse: collapse;
	width: 100%;
}

table thead {
	font-weight: bold;
}

table td {
	vertical-align: top;
	padding: 2px;
}

table.hover tbody tr:hover {
	background-color: #e2e2e2;
}

form {
	padding: 0px;
	margin: 0px;
}

hr {
	background-color: #cecece;
	color: #cecece;
	height: 1px;
	border: 1px solid #cecece;
}

h1 {
	color: black;
	font-size: 26px;
}

h2 {
	margin: 0px;
	margin-bottom: 5px;
	color: black;
	font-size: 22px;
}

h3 {
	margin-bottom: 5px;
	color: black;
	font-size: 18px;
}

label {
	cursor: pointer;
}

.hide {
	display: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

/**
 * Input validation
 */
input.error, textarea.error {
	border: 1px solid #CE0071;
}

label.error {
	background-image: url(../images/icons/16x16/error.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	min-height: 20px;
	color: #CE0071;
	margin-left: 5px;
	cursor: auto;
}

.error {
	color: #CE0071;
}

/**
 * Site structure
 */
#container {
	position: relative;
	height: auto;
	min-height: 100%;
}

#wrapper {
	padding-bottom: 50px;
}

header {
	clear: both;
	height: 100px;
	background-color: #272727;
}

header h1 {
	width: 1000px;
	margin: 0 auto;
	padding: 0px;
	line-height: 100px;
	text-align: left;
	color: white;
}

header .center {
	width: 1000px;
	margin: 0 auto;
	background-image: url(../images/movie-strip.png);
	background-position: left top;
	background-repeat: no-repeat;
	height: 100px;
}

header .languages {
	float: right;
	margin-top: 5px;
	height: 25px;
	font-size: 10px;
}

header .languages ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

header .languages li {
	float: left;
	margin-left: 8px;
	text-align: center;
}

header .languages a {
	color: #999999;
}

header .languages a:hover {
	color: white;
	text-decoration: none;
}

header .languages li.selected a {
	color: white;
	text-decoration: none;
}

header nav {
	clear: both;
	float: right;
	height: 40px;
	line-height: 40px;
	background-color: #3f3f3f;
	border-radius: 5px;
	margin-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

header a {
	color: white;
	text-decoration: none;
}

header a:hover {
	color: white;
	text-decoration: none;
}

header nav a {
	color: #999999;
	font-size: 13px;
}

header nav a:hover {
	color: white;
	text-decoration: none;
}

header nav li.selected a {
	color: white;
	text-decoration: none;
}

header nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

header nav li {
	float: left;
	height: 40px;
	margin-right: 8px;
	margin-left: 8px;
	text-align: center;
}

section {
	width: 1000px;
	margin: 0 auto;
	clear: both;
	color: #666666;
	margin-bottom: 20px;
}

section nav {
	height: 75px;
	background-color: #f2f2f2;
	border-radius: 5px;
	border: 1px solid white;
	margin-top: 20px;
}

section nav ul {
	list-style: none;
	margin: 0px;
	padding: 10px;
}

section nav li {
	float: left;
	height: 40px;
	margin-right: 10px;
	text-align: center;
}

nav .button {
	width: 70px;
	text-align: center;
	font-size: 10px;
	line-height: normal;
}

section .content {
	clear: both;
	margin-top: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
	border: 1px solid white;
	padding: 20px;
}

footer {
	position: absolute;
  	bottom: 0px;
	clear: both;
	text-align: center;
	font-size: 10px;
	height: 50px;
	width: 100%;
	line-height: 50px;
	background-color: #272727;
	margin-top: 20px;
}

footer a {
	color: #999999;
	text-decoration: none;
}

footer a:hover {
	color: white;
	text-decoration: none;
}

/**
 * Search
 */
#search {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}

#search #q {
	width: 250px;
	border: 0px;
	border-radius: 15px;
	height: 30px;
	padding-left: 10px;
	padding-right: 40px;
	background-image: url(../images/icons/32x32/magnifier.png);
	background-position: center right;
	background-repeat: no-repeat;
}

#search #q.inputDefault {
	color: gray;
	font-style: italic;
}

#search #category {
	float: left;
	width: 150px;
}

#search #sort {
	float: left;
	width: 150px;
}

#search #n {
	float: left;
	width: 150px;
	margin-right: 0px;
}

/**
 * Sort
 */
section .sort {
	clear: both;
	margin-top: 10px;
	height: 20px;
}

section .sort .ui-selectmenu-button {
	float: right;
	margin-left: 10px;
	font-size: 12px;
}

/**
 * Results
 */
#loading {
	display: none;
	text-align: center;
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 100px;
	width: 220px;
	height: 19px;
}

#results {
	display: none;
	clear: both;
	margin-top: 20px;
}

#results .movie_box {
	float: left;
	width: 200px;
	height: 340px;
	margin-right: 37px;
	margin-bottom: 30px;
	padding: 10px;
	background-color: #f2f2f2;
	border-radius: 5px;
	border: 1px solid white;
	cursor: pointer;
}

#results .last {
	margin-right: 0px;
}

#results .movie_cover {
	height: 300px;
}

#results .movie_cover > img {
	width: 100%;
	border-radius: 5px;
	height: 300px;
	overflow: hidden;
}

#results .movie_cover .nocover {
	width: 100%;
	border-radius: 5px;
	height: 300px;
	overflow: hidden;
	border: 1px solid white;
	background-color: #e2e2e2;
	text-align: center;
	line-height: 300px;
	font-size: 18px;
}

#results .title {
	padding: 5px;
	text-align: center;
}

#results .pager {
	clear: both;
	margin-top: 20px;
	text-align: center;
}

#results .pager a, #results .pager .current {
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: white;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 7px;
	padding-right: 7px;
}

#results .pager .current {
	background-color: #0169ac;
	color: white;
	font-weight: bold;
}

#results .pager .space {
}

/**
 * Buttons
 */
nav.topmenu {
	width: 100%;
	margin-bottom: 10px;
}

nav.topmenu:after {
	clear: both;
	content: ".";
	display: block;
	height: 0; 
	visibility: hidden;
}

nav.topmenu ul {
	padding: 0;
    margin: 0;
    list-style: none;
}

nav.topmenu ul li {
	float: left;
}

nav.topmenu ul .button {
	width: 90px;
	text-align: center;
	font-size: 10px;
	line-height: normal;
}

/**
 * Combobox
 */
.combobox_button {
    background-image: url(../images/icons/16x16/bullet_arrow_down.png);
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}

.combobox_button:hover {
    text-decoration: none;
}

.combobox_selector {
    background-color: #EEE;
    z-index: 1000;
}

.combobox_selector ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border:1px solid #CCC;
}

.combobox_selector li {
    padding: 2px 5px;
}

.combobox_selector li:hover,
.combobox_selector li.selected {
    background-color: #0066CC;
    color: #FFF;
}

/**
 * Specific sections
 */
#login {
	width: 300px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

#login input[type="text"], #login input[type="password"] {
	width: 170px;
}

#message {
	position: fixed;
	font-size: 11px;	
	text-align: center;
	background-color: #CE0071;
	color: white;
	padding: 10px;
	width: 800px;
	bottom: 0px;
    left: 50%;
    margin-left: -400px;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0px 1px 3px #555555;
	overflow: hidden;
	display: none;
}

/**
 * IMDb search for movies
 */
#imdbsearchform {
	margin-bottom: 20px;
}

.imdbmovies .imdbresult:hover {
	cursor: pointer;
}

.imdbmovies .imdbresult .known {
	text-decoration: line-through;
}

.imdbmovies .imdbresult .imdb {
	width: 40px;
	white-space: nowrap;
}

.imdbmovies .imdbresult .title {
	font-weight: bold;
}

.imdbmovies .imdbresult .year {
	width: 40px;
	white-space: nowrap;
	text-align: right;
}

/**
 * Movie information
 */
#movie {
	clear: both;
}

#movie .header {
	font-weight: bold;
}

#movie .photo {
	float: left;
	max-width: 200px;
}

#movie .photo img {
	max-width: 200px;
	border-radius: 3px;
	box-shadow: 0px 1px 5px black;
}

#movie .maininfo {
	margin-left: 220px;
}

#movie .loaned {
	color: #CE0071;
}

#movie .taglines {
	margin-top: 10px;
	font-style: italic;
	text-align: center;
}

#movie .plotoutline {
	margin-top: 10px;
}

#movie .castlist ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
/************** DO NOT NEED
#movie .castlist .first.column {
	padding-right: 20px;
}

#movie .castlist .column {
	padding-right: 20px;
}

#movie .castlist .last.column {
	padding: 0px;
} *************/

#movie .plots {
	margin-top: 10px;
}

#movie .plots li {
	margin-bottom: 10px;
}

/**
 * Add/edit movie
 */
.addmovie .photo {
	float: right;
	margin-right: 5px;
}

.addmovie .photo img {
	max-width: 220px;
	border-radius: 3px;
	box-shadow: 0px 1px 5px black;
}#updateform {	margin-right: 220px;}

/**
 * Message
 */
.message {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: black;
	opacity: 0.8;
	color: white;
}

.message .text {
	margin: 0 auto;
	margin-top: 300px;
	text-align: center;
	width: 400px;
}

/**
 * Automatic update
 */
.autoupdate {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: black;
	opacity: 0.8;
	color: white;
}

.autoupdate .text {
	margin: 0 auto;
	margin-top: 300px;
	text-align: center;
	width: 400px;
}

.autoupdate .text a {
	color: white;
}

.autoupdate .text a:hover {
	color: #555555;
}